{#
| Variable      | Type   | Description                                                      |
|---------------|--------|------------------------------------------------------------------|
| items[]       | array  | List of 3 features                                               |
| items[].icon  | string | SallaIcons css class `sicon-*`                                   |
| items[].title | string | Title of the feature                                             |
| items[].text  | string | Subtitle for the feature                                         |
| position      | Int    | Sorting number start from zero                                   |
#}
<section class="s-block s-block--features container khdmaty-features">
    <div class="grid grid-cols-[repeat(2,minmax(0,1fr))] md:grid-cols-[repeat(3,minmax(0,1fr))] gap-5 sm:gap-7 xl:gap-8">
      {% for item in items %}
          <div class="s-block--features__item khdmaty-feature-card">
            <div class="feature-icon khdmaty-feature-icon">
              <i class="{{ item.icon }}"></i>
            </div>
            <h2 class="khdmaty-feature-title">{{ item.title }}</h2>
            <p class="khdmaty-feature-text">{{ item.text }}</p>
          </div>
      {% endfor %}
    </div>
</section>